.li {
    position: relative;
}

.li::before {
    content: '';
    position: absolute;
    width: 1rem;
    aspect-ratio: 1;
    top: 0.25rem;
    left: -2rem;
    background-color: white;
    border-radius: 50%;
}

.li::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 150%;
    top: 0;
    left: -1.55rem;
    background-color: white;
    z-index: -1;
}

.li:first-child::after {
    top: 0.25rem;
}

.li:last-child::after {
    height: 100%;
    background: linear-gradient(to bottom, white, black);
}
