@import 'tailwindcss';

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
}

.glassmorphic {
    backdrop-filter: blur(8px) contrast(1) saturate(1);
    background-color: rgba(0, 0, 0, 0.1);
}
