@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee-reverse {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.marquee > * {
    animation: marquee 20s linear infinite;
}
.marquee-reverse > * {
    animation: marquee-reverse 20s linear infinite;
}

.marquee:hover > *,
.marquee-reverse:hover > * {
    animation-play-state: paused;
}

.marquee,
.marquee-reverse {
    position: relative;
}
.marquee::before,
.marquee-reverse::before {
    content: '';
    width: 3rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    background: linear-gradient(to right, black, #00000000);
}
.marquee::after,
.marquee-reverse::after {
    content: '';
    width: 3rem;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    background: linear-gradient(to right, #00000000, black);
}
